{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "import/extensions": "off",
    "jsx-a11y/href-no-hash": "off",
    "no-console": "off",
    "max-len": ["error", 120]
  }
}
